/* ========body styles=============== */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* -----------------body style end-------------- */

/* -----------------header---------------------- */
.header-page .container {
  background-color: blueviolet;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.box-logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header-logo {
  width: 84px;
  height: 19px;
}

.header-navigation {
  display: none;
}

.header-wtg {
  display: none;
}

.header-open-button {
  height: 28px;
  background-color: transparent;
  border: none;
}

.open-modal-icon {
  width: 23px;
  height: 11px;
  background-color: transparent;
  stroke: #fafafa;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-open-button:focus .open-modal-icon,
.header-open-button:hover .open-modal-icon {
  stroke: aquamarine;
}

@media screen and (min-width: 768px) {
  .header-open-button {
    display: none;
  }

  .header-navigation {
    display: block;
  }

  .header-nav {
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-wtg {
    display: block;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background-color: #ed3b44;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-wtg:focus,
  .header-wtg:hover {
    background-color: #e0373f;
    color: aquamarine;
  }

  .header-menu-button {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fafafa;
    padding: 10px;
    width: 60px;
    height: 39px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: transparent;
    border: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-button:focus,
  .header-menu-button:hover {
    color: aquamarine;
  }

  .header-nav.is-open {
    opacity: 1;
  }

  .header-nav {
    position: absolute;
    min-width: 67px;
    top: 47px;
    left: 0;
  }

  .header-nav-link {
    display: block;
    margin-bottom: 5px;
    color: #fafafa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:focus,
  .header-nav-link:hover {
    color: aquamarine;
  }
}
/* -------------end header---------------------- */

/* -------------modal window---------------------- */
.modal-window {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 767px;
  width: 100vh;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background: linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #69292d 67.73%,
      #ed3b44 100%
    ),
    linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #596808 67.73%,
      rgba(198, 227, 39, 0.76) 100%
    ),
    linear-gradient(270deg, #1c1d20 49.68%, #001958 67.73%, #0041e8 100%),
    linear-gradient(270deg, #1c1d20 49.68%, #9f3626 67.73%, #e6533c 100%),
    linear-gradient(270deg, #1c1d20 49.68%, #1e3633 67.73%, #2b4441 100%),
    linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #ac5300 67.73%,
      #ff7f08 100%,
      #ff7f08 100%
    );
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window.is-open {
  opacity: 1;
  pointer-events: auto;
}

.header-close-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 32px;
  right: 16px;
}

.close-modal-icon {
  width: 28px;
  height: 28px;
  stroke: #fafafa;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-close-button:hover .close-modal-icon,
.header-close-button:focus .close-modal-icon {
  stroke: aquamarine;
}

.modal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-menu-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-link:focus,
.modal-menu-link:hover {
  color: aquamarine;
}

.modal-menu-wtg {
  font-size: 14px;
  margin-bottom: 64px;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-wtg:focus,
.modal-menu-wtg:hover {
  background-color: #e0373f;
  color: aquamarine;
}

/* -------------end modal window------------------ */
